<div class="container">
  <form class="login" [formGroup]="loginFormGroup" (ngSubmit)="submitHandler()">
    <fieldset>
      <h2>Login Form</h2>

      <p class="field field-icon">
        <label for="email"
          ><span><i class="fas fa-envelope"></i></span
        ></label>
        <input
          formControlName="email"
          class="input-error"
          type="email"
          name="email"
          id="email"
          placeholder="john.doe@gmail.com"
        />
      </p>
      <ng-container
        *ngIf="
          loginFormGroup.controls['email'].invalid &&
          loginFormGroup.controls['email'].touched
        "
      >
        <p
          class="error"
          *ngIf="loginFormGroup.controls['email'].errors?.required"
        >
          Email is required!
        </p>
        <p class="error" *ngIf="loginFormGroup.controls['email'].errors?.email">
          Email is not valid!
        </p>
      </ng-container>

      <p class="field field-icon">
        <label for="password"
          ><span><i class="fas fa-lock"></i></span
        ></label>
        <input
          formControlName="password"
          type="password"
          name="password"
          id="password"
          placeholder="******"
        />
      </p>

      <ng-container
        *ngIf="
          loginFormGroup.controls['password'].invalid &&
          loginFormGroup.controls['password'].touched
        "
      >
        <p
          class="error"
          *ngIf="loginFormGroup.controls['password'].errors?.required"
        >
          Password is required!
        </p>
        <p class="error">Password must be at least 4 characters!</p>
      </ng-container>

      <button>Login</button>

      <p class="text-center">
        Have an account?
        <a href="#">Register</a>
      </p>
    </fieldset>
  </form>
</div>
